body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url('../img/sign in BI.jpg'); 
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.scene {
    width: 400px;
    height: 600px;
    perspective: 1000px;
}

.auth-card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transform-style: preserve-3d;
}

.auth-card.is-flipped {
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: #fafbfb;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0px 0px 20px 10px rgb(138, 168, 199);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-back {
    transform: rotateY(180deg);
}

.auth-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    color: #333;
    font-family: sans-serif;
    margin-top: 0;
}

.user-box {
    position: relative;
    margin-bottom: 20px;
}

.user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #333;
    margin-bottom: 35px;
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
    background: transparent;
}

.user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 18px;
    color: #333;
    pointer-events: none;
    transition: 0.5s;
    font-family: Arial, sans-serif; 
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #7a1509;
    font-size: 20px;
}

.btn-auth {
    background-color: #06196c;
    border: none;
    color: white;
    padding: 14px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
    border-radius: 6px;
    margin-top: 10px;
}

.switch-text {
    text-align: center;
    margin-top: 25px;
    font-family: sans-serif;
    color: #333;
}

.switch-text span {
    color: #06196c;
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
}
