
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(133, 146, 158);
}

a:hover {
    text-decoration: none;
}

button:active {
    outline: none;
    border: none;
}


html {
    box-sizing: border-box;
    font-size: 100%;
}

@media(max-width:991px) {
    html {
        font-size: 90%;
    }
}

@media(max-width:768px) {
    html {
        font-size: 80%;
    }
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: rgb(90, 97, 103);
}


@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    background-size: inherit;
    background-position: inherit;
    animation: zoom 20s infinite;
    z-index: 1;
}


@media(max-width:991px) {
    .wrap {
        text-align: center;
        width: 80%;
        padding: 2rem;
    }
}

@media(max-width:768px) {
    .wrap {
        text-align: center;
        width: 100%;
        padding: 2rem;
    }
}


/*--- menu bar --*/

nav {
    z-index: 2;
    background: rgba(27, 38, 49, 0.1);
    transition: all .4s ease-in;
}

.navbar-brand img {
    width: 40%;
    height: 40%;
    margin-left:5px;
}

.navbar-toggler-icon {
    background-image: url("logo.png");
}

.navbar-nav a {
    color: whitesmoke;
    font-size:20px;
    font-family:'Merienda', cursive;
    margin-left:auto;
}

.nav-item {
    padding: 0 1rem;
}

.nav-item:hover {
    background: rgba(27, 38, 49, 0.4);
    border-radius: 10px;
    padding: 0 1rem;
}

.current {
    background: rgba(130, 175, 219, 0.4);
    border-radius: 10px;
    padding: 0 1rem;
}

.navbar-toggler {
    border: 1px solid #85929e;
}



.sticky-top {
    position: fixed;
    background: rgba(27, 38, 49, 1);
    top: 0;
    height:120px;
}

@media(max-width:991px) {
    .navbar-brand img {
        margin-right: 0rem;
    }

    nav {
        background: rgba(27, 38, 49, 0.8);
    }
}

/* Header section */

header {
    background: url('../img/background.jpg') ;
    background-size: cover;
    position: relative;
    height: 100vh; 
    overflow: hidden; 
}

.header-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 47, 60, 0.6);
    z-index: 1;
    
}

.header-content {
    position: relative;
    z-index: 2;
    color: #fff;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

.header-content {
    z-index: 2;
}

.header-content h1 {
    font-family: 'Merienda', cursive;
}

.header-content p {
    font-size: 1.2rem;
    display: block;
    padding-bottom: 2rem;
}

.btn-header {
    background: whitesmoke;
    padding: 10px 30px;
    color: rgb(33, 47, 60);
    border-radius: 8px;
    transition: all .2s ease-in-out;
}

.btn-header:hover {
    background: rgba(33, 47, 60, 0.6);
    color: #fbfcfc;
    border: 1px solid rgb(66, 107, 145);
}

@media(max-width:991px) {
    .header-content p {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}


/*-- main section --*/

#main {
    padding-top: 6rem;
    padding-bottom: 20px;
}

.main-header {
    text-align: center;
    padding: 2rem 4rem;
}

#main .col-md-6 {
    padding: 0;
}

#main h3 {
    margin-bottom: 1rem;
}
.main-header h2{
    font-family: 'Merienda', cursive;
    color:rgb(3, 3, 81);
}

p1 {
    color:rgb(8, 84, 109);
    font-size:18px;
}

#main h3,
span,
.cta {
    color: #262626;
}

#main img {
    width: 100%;
    height: auto;
    overflow: hidden;
}

@media(max-width:768px) {
    #main img {
        padding: 2rem;
    }
}

.main-text {
    padding: 2rem;
    align-items: center;
}

.main-text a {
    float: right;
    font-weight: 400;
}

@media(max-width:991px) {
    .main-header {
        padding: 2rem 1rem;
    }
}


/*--------- gallery section --------*/

#gallery {
    height: 50%;
    width: 100%;
    padding: 6rem 0rem;
    
}

#gallery .card {
    display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(254, 249, 231, 0.16), 0 2px 10px 0 rgba(253, 254, 231, 0.12);
    transition: box-shadow .25s;
}

#gallery .card:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#gallery .img-card {
    width: 100%;
    height: auto;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: block;
    overflow: hidden;
}

#gallery .img-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: all .25s ease;
}

#gallery .card-content {
    padding: 5px;
    text-align: center;
}

#gallery .card-title {
    margin-top: 0px;
    font-weight: 700;
    font-size: 1.65em;
}

#gallery .card-title a {
    color: #000;
    text-decoration: none !important;
}

.card-read-more {
    border-top: 1px solid #D4D4D4;
}

.card-read-more a {
    text-decoration: none !important;
    padding: 10px;
    font-weight: 600;
    text-transform: uppercase
}


/*----------Accomodation----------*/

.btn-primary {
    display: inline-block;
    width:35%;
    padding: 20px 20px;
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    background-color: #545557;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #545557;
    color:rgb(20, 215, 225);
}

.container.text-center {
    margin-top: 20px;
    margin-bottom: 20px;
}
.container p3 {
    font-size: 20px;
    color:#000;
}

/*------------ about section --------------*/

#about {
    height: auto;
    width: 100%;
    padding: 6rem 0rem;
    background: rgb(235, 237, 239);
}

#about span {
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 2rem;
}

/*-- social1 Icon --*/

.icon {
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    color: #f96510;
    display: inline-block;
}

.icon i {
    font-size: 24px;
    position: relative;
}

.icon.social1 {
    margin: 1rem;
    cursor: pointer;
    background: #393f50;
}

.icon.social1:hover {
    background: #0bb5aa;
    color: #090d0e;
    transition: 0.5s;
}


.service-heading {
    color: #262626;
    padding: 1rem 0;
}


/*-- contact section --*/

#contact {
    height: auto;
    width: 100%;
    padding: 6rem 0rem;
}

#contact h4 {
    color: #262626;
}

/*-- footer section ---*/

#footer {
    background: rgb(33, 47, 60);
    height: auto;
    padding: 3rem;
}

#footer h4 {
    color: whitesmoke;
}

#footer a:hover {
    color: whitesmoke;
}

#footer hr {
    background: rgb(93, 109, 126);
}

.btn-footer {
    background: rgb(46, 64, 83);
    padding: 10px 30px;
    color: whitesmoke;
    border-radius: 0;
}

.btn-footer:hover {
    background: rgb(52, 73, 94);
    color: #fbfcfc;
    border: 1px solid rgb(133, 146, 158);
}

#footer .col-md-5 .btn {
    border-radius: 0px;
}

.footer-list {
    list-style: none;
    padding: 0;
}

.footer-list-social {
    list-style: none;
    padding: 0;
}

.footer-list li:not(:last-child) {
    margin-bottom: .5rem;
}

.subscribe input {
    width: 80%;
    background: rgb(46, 64, 83);
}

@media(max-width:768px) {
    .subscribe input {
        width: 90%;
    }
}

.subscribe .btn-grey {
    background: rgb(133, 146, 158);
    color: whitesmoke;
}

.subscribe .btn-grey:hover {
    background: rgb(46, 64, 83);
    border: 1px solid #5dade2;
}

/*-- social2 Icon --*/

.icon {
    text-align: center;
    padding: 6px;
    border-radius: 12px;
    width:45px;
    height:40px;
}

.icon i {
    font-size: 28px;
    position: relative;
    color:rgb(245, 235, 235);
}

.icon.social2 {
    margin: 1rem;
    cursor: pointer;
    background: #3e3f43;
    transition: 0.5s;
}

.icon.social2:hover {
    background: #0bb5aa;
    transition: 0.5s;
}

@media (max-width: 600px) {
    #footer {
        text-align: center;
    }

    .footer-list-social2 {
        display: flex;
        justify-content: center;
    }
}

#footer-end {
    background: rgb(40, 55, 71);
    height: auto;
    text-align: center;
    color: whitesmoke;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

#footer-end a:hover {
    color: whitesmoke;
}

/*== go to top ==*/

.gotop {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgb(33, 47, 60);
    cursor: pointer;
    padding: 5px;
    border-radius: 50px;
    font-size: 25px;
    height: 46px;
    width: 46px;
}

.gotop span {
    color: #f5f0f0;
}

.gotop:hover {
    background-color: rgba(75, 125, 138, 0.6);
    border: 1px solid rgb(209, 209, 29);
}