* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Georgia;
    padding: 3px;
    background: #6c727f;
  }
  
  .header {
    padding: 10px;
    height: 820px;
    text-align: center;
    background: white;
    background-image: url('../img/About_swizz.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  .header h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
    padding-top: 5%;
  }
  
  .header p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
  
  .leftcolumn {
    float: left;
    width: 70%;
  }
  
  .rightcolumn {
    float: left;
    width: 30%;
    background-color: #6c727f;
    padding-left: 10px;
  }
  
  .fakeimg {
    background-color: #fefcfa;
    width: 100%;
    
  }
  
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 10px;
  }
  
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .footer {
    padding: 10px;
    text-align: bottom;
    background: #ddd;
    margin-top: 10px;
    background-image: url('../img/About_footer.webp');
    background-repeat: no-repeat;
    height: 300px;
    background-size: 100% 100%;
  }
  
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }
  
  img {
    width: 100%;
  }
  
  .card h2, .card h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .footer h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(22, 23, 24);
  }
  
  .footer p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(247, 250, 252);
  }
  
  .footer a {
    text-decoration: none;
    color: #15ddc9;
    font-size: 20px;
  }
  
  