html {
  line-height: 1.15;
  font-family: Poppins;
  font-size: 16px;
}

body {
  margin: 0;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
  letter-spacing: normal;
  line-height: 1.55;
  color: #000000;
  background-color: #FFFFFF;
  fill: #000000;
}

* {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
}

p, li, ul, pre, div, h1, h2, h3, h4, h5, h6, figure, blockquote, figcaption {
  margin: 0;
  padding: 0;
}
.landing-page-text06 p1 {
  background-color: #322d2dab; 
  margin: 0;
  padding: 0;
  border-radius: 10px;
  padding:5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
  color: inherit;
  text-decoration: inherit;
}

.Subheading {
  font-size: 25px;
  font-family: Poppins;
  font-weight: 400;
  text-transform: none;
  text-decoration: none;
}
.Heading {
  font-size: 45px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}

.Button {
  font-size: 14px;
  font-family: Poppins;
  font-weight: 600;
  text-transform: none;
  text-decoration: none;
}
.Content {
  font-size: 16px;
  font-family: Poppins;
  font-weight: 400;
  line-height: 1.55;
  text-transform: none;
  text-decoration: none;
}


.solid-button1-button {
  position: fixed;
  top: 20px; 
  right: 20px; 
  color: #FFFFFF;
  border: none;
  padding: 0.5em 2em;
  border-radius: 10px;
  background-color: rgb(4, 12, 82);
  font-size: 20px;
}

.solid-button-container {
  display: flex;
  position: relative;
}
.solid-button-button {
  color: #FFFFFF;
  border: none;
  padding-top: 0.5em;
  padding-left: 2em;
  border-radius: 15px;
  padding-right: 2em;
  padding-bottom: 0.5em;
  background-color: rgb(59, 11, 22);
  font-size: 20px;
}

.outline-button-container {
  display: flex;
  position: relative;
}
.outline-button-button {
  color: #000000;
  padding-top: 1em;
  border-color: #370511ff;
  border-width: 1px;
  padding-left: 2em;
  border-radius: 50px;
  padding-right: 2em;
  padding-bottom: 1em;
  background-color: #FFFFFF;
}

.place-card-container {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.place-card-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.place-card-container1 {
  width: 100%;
  display: flex;
  padding: 1em;
  align-items: center;
  flex-direction: column;
}
.place-card-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 0.5em;
}
.place-card-text1 {
  font-size: 12px;
  max-width: 250px;
  margin-bottom: 2em;
}

.landing-page-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.landing-page-top-container {
  width: 100%;
  height: 632px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url('../img/Accomodation.jpg');
  background-position: 0% 40%;
}
.landing-page-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  padding: 2em;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.landing-page-hero {
  flex: 1;
  width: 100%;
  display: flex;
  max-width: 1000px;
  padding-top: 3em;
  padding-left: 2em;
  padding-right: 2em;
  flex-direction: column;
  padding-bottom: 3em;
  justify-content: center;
}
.landing-page-content-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.landing-page-text05 {
  color: #FFFFFF;
}
.landing-page-subheading {
  color: #FFFFFF;
}
.landing-page-text06 {
  color: #fafbfc;
  padding-top: 2em;
  padding-bottom: 2em;
  font-size:20px;
}


.landing-page-main {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 4em;
  padding-left: 2em;
  padding-right: 2em;
  flex-direction: column;
  padding-bottom: 4em;
  justify-content: flex-start;
}
.landing-page-text11 {
  color: #595959;
}
.landing-page-cards-container {
  width: 100%;
  display: flex;
  grid-gap: 2em;
  flex-wrap: wrap;
  max-width: 1000px;
  margin-top: 2em;
  align-items: flex-start;
  margin-bottom: 2em;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-footer {
  color: #FFFFFF;
  width: 100%;
  display: flex;
  padding: 3em;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #000000;
}
.landing-page-menu {
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-links-container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.landing-page-container1 {
  display: flex;
  align-items: flex-start;
  margin-left: 100px;
  flex-direction: column;
}

.landing-page-container2 {
  display: flex;
  align-items: flex-start;
  margin-left: 100px;
  flex-direction: column;
}
.landing-page-follow-container1 {
  display: flex;
  align-items: center;
  margin-left: 50px;
  flex-direction: column;
  justify-content: space-between;
}
.landing-page-text12 {
  padding-bottom: 0.5em;
}

@media(max-width: 991px) {
  .landing-page-hero {
    padding-left: 3em;
    padding-right: 3em;
  }
  .landing-page-cards-container {
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .landing-page-right-side {
    display: none;
  }
  .landing-page-hero {
    justify-content: center;
  }
  .landing-page-content-container {
    align-items: center;
  }
  .landing-page-text05 {
    font-size: 2.5rem;
  }
  .landing-page-text06 {
    text-align: center;
  }
  .landing-page-main {
    padding-left: 1em;
    padding-right: 1em;
  }
  .landing-page-menu {
    flex-direction: column;
  }
  .landing-page-links-container1 {
    margin-top: 3em;
    margin-bottom: 3em;
    justify-content: space-between;
  }
  .landing-page-container1 {
    margin-left: 0px;
  }
}
@media(max-width: 479px) {
  .landing-page-text05 {
    font-size: 2rem;
    text-align: center;
  }
  .landing-page-subheading {
    font-size: 1.3rem;
    text-align: center;
  }
  .landing-page-links-container1 {
    margin-top: 2em;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .landing-page-container2 {
    height: 100%;
    align-items: flex-start;
    margin-left: 50px;
  }
  .landing-page-follow-container1 {
    margin-left: 0px;
  }
}
.solid-button-button:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
.outline-button-button:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}
