<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css\About_Swizz.css">
</head>
<body>

<div class="header">
  <h1>About<br>Switzerland</h1>
  <p><strong>Switzerland is a country where very few things begin, but many things end.</strong></p>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>Beauty of Switzerland</h2>
      <h5>Experience knows how you are living</h5>
      <div class="fakeimg"><img src="img\fakeimage_1.webp" alt="Wait for swiss"></div>
      <p><strong>About Switzerland</strong></p>
      <p><strong>Nature:</strong> Switzerland has a varied landscape, with towering mountains, deep lakes, grassy valleys, and forests. The Swiss Alps cover more than 60% of the country, and are home to some of the most iconic peaks, such as the Matterhorn. Switzerland also has more than 1,500 lakes, including Lake Geneva, Lake Zurich, and Lake Lucerne, which offer stunning views and recreational activities. Switzerland is also rich in biodiversity, with over 50,000 animal and plant species, many of which are endemic or endangered.</p>
    </div>
    <div class="card">
      <h2>Places</h2>
      <div class="fakeimg"><img src="img\fakeimage_2.jpg" alt="Wait and check out this"></div>
      <p><strong>Know more:</strong></p>
      <p>Switzerland is widely regarded as one of the most beautiful countries in the world, thanks to its scenic nature and charming architecture. Switzerland has many picturesque villages, such as Zermatt, Grindelwald, and Lauterbrunnen, that blend harmoniously with the surrounding mountains and valleys. Switzerland also has many historic and modern cities, such as Zurich, Geneva, Bern, and Lucerne, that showcase the country’s cultural heritage and innovation. Switzerland is also famous for its chocolate, cheese, and watches, which are symbols of quality and craftsmanship.</p>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>Best Accommodation</h2>
      <div class="fakeimg"><a href="accomodation.html"><img src="img\fameimage_3.jpg" title="Click on image and book now" alt="Booking error"></a></div>
      <p><strong>Hotel d’Angleterre</strong> is definitely one of our very favorite hotels in Geneva because of its lovely views of Mont Blanc and Jet d’Eau. It’s at the edge of Leman and has elegant rooms, international cuisine, and tempting cocktails in the Leopard Bar and Cigar Lounge. There are 39 guest rooms and six suites here, fine dining at the Windows Restaurant, and complimentary Wi-Fi throughout the property. Definitely plan to dine at Windows Restaurant for epic views of Lake Geneva, the distant mountains, and delicious specialties by Chef Michael Coquelle. Hotel d’Angleterre has won numerous awards from Forbes, Reader’s Choice, Conde Nast, and TripAdvisor.</p>
    </div>
    <div class="card">
      <h3>Popular Swiss Chocolates</h3>
      <div class="fakeimg"><a href="https://www.lindt-home-of-chocolate.com/en/chocolate-museum-tour/"><img src="img\Swizz chocolate.jpg" title="Click the image and participate now" alt="Swiss chocolate"></a></div>
      <p><ul style="list-style-type:disc;font-size:20px;"><li>Swiss chocolate has gained worldwide fame for its smooth texture, rich flavor, and meticulous craftsmanship.</li></ul><strong>Ingredients:</strong> Swiss chocolatiers use high-quality cocoa beans, milk, and other ingredients to create their chocolate. The country's favorable climate and soil conditions contribute to the cultivation of excellent cocoa beans.<br><strong>Techniques:</strong> Swiss chocolate-making has a long history dating back to the 17th century. Many Swiss chocolatiers still adhere to traditional techniques, such as conching, roasting, and tempering, to produce chocolate with a smooth texture and well-balanced flavor.</p>
    </div>
    <div class="card">
      <h3>For more information<br>Follow on:</h3>
      <a href="https://www.instagram.com/myswitzerland/"><img src="https://tse3.mm.bing.net/th?id=OIP.llcPF8FYPALZnrmceid3qgHaHa&pid=Api&P=0&h=180" title="Open Instagram" alt="Network loading" style="width:30px;height:30px;"></a>
      <a href="https://www.facebook.com/MySwitzerlandNA/"><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/Facebook_icon.svg/1200px-Facebook_icon.svg.png" title="Open Facebook" alt="Network loading" style="width:30px;height:30px;"></a>
      <a href="https://twitter.com/swissinfo_en"><img src="https://tse1.mm.bing.net/th?id=OIP.X2o257HpNW7ME1yYHcU2QwHaHw&pid=Api&P=0&h=180" title="Open Twitter" alt="Network loading" style="width:30px;height:30px;"></a>
      <a href="https://www.tripadvisor.com/Attraction_Review-g188113-d1987439-Reviews-or390-Best_of_Switzerland_Tours-Zurich.html"><img src="https://tse2.mm.bing.net/th?id=OIP.Sdh7vAGfRUp2pDpNtHWowwHaFY&pid=Api&P=0&h=180" title="Open TripAdvisor" alt="Network loading" style="width:30px;height:30px;"></a>
    </div>
  </div>
</div>

<div class="footer">
  <h2>Contact details:</h2>
  <p>+127960457318</p>
  <p><a href="mailto:someone@example.com" title="Email me to meet">Email: SwizzTrip...123@gmail.com</a></p>
  <p>Switzerland Tourism<br>
    c/o Consulate General of Switzerland<br>
    102 Maker Chambers IV, 10th floor<br>
    222, Jamnalal chry Marg<br>
    Nariman Point<br>
  </p>
</div>
</body>
</html>