<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Swizz Accomodation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" data-tag="font"/>
   
    <link rel="stylesheet" href="css\accomodation.css">

  </head>
  <body>

    <div>
     <div class="landing-page-container">
        <div class="landing-page-top-container">
          <div data-role="MobileMenu" class="landing-page-mobile-menu">
              <div class="landing-page-nav">
                <div class="landing-page-top">
                 
                </div>
                <div class="landing-page-right-side1">
                  <div class="landing-page-links-container">
                    </div>
                  <div class="solid-button-container">
                      </div>
                  
                </div>
              </div>
              
            </div>
          
          <div class="landing-page-hero">
            <div class="landing-page-content-container">
              <h1 class="landing-page-text05 Heading">Book an exclusive</h1>
              <h2 class="landing-page-subheading Subheading">
                home for your travel
              </h2>

              <div class="solid-button1-container">
             <a href="sign_in.html" class="solid-button1-button">Sign in</a>
              </div>

              <span class="landing-page-text06">
                <p1>Each property is hand-picked,</p1>
              <br>
                <p1>personally visited and cannot be found elsewhere.</p1>
              </span>
              <div class="solid-button-container">
                <button class="solid-button-button">Discover</button>
              </div>
            </div>
          </div>
        </div>
        <div id="main-section" class="landing-page-main">
          <h1>Most famous hotels</h1>
          <span class="landing-page-text11">Recommended</span>
          <div class="landing-page-cards-container">
            <div class="place-card-container">
              <img src="img\Hotel 1.jpeg" alt="image" class="place-card-image" />
              <div class="place-card-container1">
                <span class="place-card-text"><span>Hotel Märthof Basel</span></span>
                <span class="place-card-text1">
                  <span>
                    Discover the charm of Basel at Hotel Märthof, where historic elegance meets contemporary luxury. Located in the city's vibrant heart, enjoy refined accommodations, exceptional service, and easy access to Basel's cultural and culinary delights.
                  </span>
                </span>
                <div class="outline-button-container">
                  <button class="outline-button-button button Button">
                    <span>Book Now</span>
                  </button>
                </div>      
              </div>
            </div>
            <div class="place-card-container">
              <img src="img\Hotel 2.jpg" alt="image" class="place-card-image"/>
              <div class="place-card-container1">
                <span class="place-card-text"><span>Bergwelt Grindelwald</span></span>
                <span class="place-card-text1">
                  <span>
                    Nestled in the majestic Swiss Alps, Bergwelt Grindelwald Hotel offers an unforgettable escape with stunning mountain views. Experience luxurious accommodations, exceptional dining all just moments away from exhilarating outdoor adventures.
                  </span>
                </span>
                <div class="outline-button-container">
                  <button class="outline-button-button button Button">
                    <span>Book Now</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="place-card-container">
              <img src="img\Hotel 3.jpg" alt="image" class="place-card-image" />
              <div class="place-card-container1">
                <span class="place-card-text"><span>Sorell Hotel St.Peter</span></span>
                <span class="place-card-text1">
                  <span>
                    Stay in the heart of Zurich at Sorell Hotel St. Peter, where modern sophistication meets historic charm. Enjoy elegant rooms, personalized service, and a prime location just steps away from Zurich's top attractions and vibrant city life. Perfect for both business and leisure travelers.
                  </span>
                </span>
                <div class="outline-button-container">
                  <button class="outline-button-button button Button">
                    <span>Book Now</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="place-card-container">
              <img src="img\Hotel 4.webp" alt="image" class="place-card-image" />
              <div class="place-card-container1">
                <span class="place-card-text"><span>Lago Maggiore</span></span>
                <span class="place-card-text1">
                  <span>
                    Experience the serene beauty of Hotel Lago Maggiore, nestled along the picturesque shores of Lake Maggiore. Enjoy stylish accommodations, breathtaking lake views, and exceptional service in a tranquil setting. Indulge in outdoor activities and local attractions.
                  </span>
                </span>
                <div class="outline-button-container">
                  <button class="outline-button-button button Button">
                    <span>Book Now</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="place-card-container">
              <img src="img\Hotel 5.jpg" alt="image" class="place-card-image"/>
              <div class="place-card-container1">
                <span class="place-card-text"><span>Royal Savoy Hotel</span></span>
                <span class="place-card-text1">
                  <span>
                    Indulge in the epitome of luxury at the Royal Savoy Hotel in Lausanne. This historic hotel seamlessly blends Belle Époque elegance with modern sophistication, offering lavish accommodations and world-class amenities.Its much more comfortable.
                  </span>
                </span>
                <div class="outline-button-container">
                  <button class="outline-button-button button Button">
                    <span>Book Now</span>
                  </button>
                </div>
              </div>
            </div>
            <div class="place-card-container">
              <img src="img\Hotel 6.jpg" alt="image" class="place-card-image" />
              <div class="place-card-container1">
                <span class="place-card-text"><span>Hotel ABC</span></span>
                <span class="place-card-text1">
                  <span>
                    Discover a blend of comfort and convenience at Hotel ABC in Chur. This modern hotel offers stylish rooms, exceptional service, and a welcoming atmosphere. Ideally located near the city's main attractions and transport links, seeking a memorable stay.
                  </span>
                </span>
                <div class="outline-button-container">
                  <button class="outline-button-button button Button">
                    <span>Book Now</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="landing-page-footer">
          <div class="landing-page-menu">
            <h1>SWIZZ STAY</h1>
            <div class="landing-page-links-container1">
              <div class="landing-page-container1">
                <a href="https://example.com" target="_blank" rel="noreferrer noopener" class="landing-page-link04">
                  Tour packages
                </a>
                <a href="https://example.com" target="_blank" rel="noreferrer noopener" class="landing-page-link05">
                  Personalized offers
                </a>
                <a href="https://example.com" target="_blank" rel="noreferrer noopener" class="landing-page-link06">
                  Special deals
                </a>
                <a href="https://example.com" target="_blank" rel="noreferrer noopener" class="landing-page-link07">
                  Summer holiday
                </a>
              </div>
              <div class="landing-page-container2">
                <a href="https://example.com" target="_blank" rel="noreferrer noopener" class="landing-page-link08">
                  About us
                </a>
                <a href="https://example.com" target="_blank" rel="noreferrer noopener" class="landing-page-link09">
                  FAQ
                </a>
                <a href="https://example.com" target="_blank" rel="noreferrer noopener" class="landing-page-link10">
                  Terms and conditions
                </a>
                <a href="https://example.com" target="_blank" rel="noreferrer noopener" class="landing-page-link11">
                  Contact
                </a>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
    <script src="js\accomodation.js"></script>

  </body>
</html>
