<!doctype html>
<html lang="en">

<head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, ">
    <title>Swizz Trip</title>

    <link href="https://fonts.googleapis.com/css?family=Merienda|Open+Sans" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="css\style.css">

    <link href=logo.png rel=icon type=image/x-icon> 

</head> 
<body>

    <section id="home">
        
        <nav class="navbar navbar-expand-lg fixed-top">
            <button class="navbar-toggler mr-auto custom-toggler" type="button" data-toggle="collapse"
                data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img class="logo" src="logo.png" alt="Image loading">
            </a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item current">
                        <a class="nav-link smoothscroll" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link smoothscroll" href="#main">Places</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link smoothscroll" href="#gallery">Gallery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link smoothscroll" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link smoothscroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
        
        <header>
            <div class="header-overlay"></div>
                <div class="header-content">
                    <h1 class="display-4 mb-4">SWITZERLAND</h1>

                    <p>A state of perfect neutrality completely at peace and free from any conflict.</p>
                    <button onclick="location.href= 'About_Swizz.html' " class="btn btn-header"> Read More</button>
                
            </div>
        </header>
       

    </section>
    
    <button class="gotop" onclick="location.href='javascript:'">
        <span><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
    </button>
   

    <section id="main">
        <div class="container">
            <div class="main-header">
                <h2 class="display-4 mb-3">Places to Explorer</h2>
                <p1>Switzerland offers stunning beaches along its pristine lakes, enchanting forests perfect for hiking, scenic road trips through the breathtaking Alps, and faraway retreats that provide tranquil escapes from the bustling cities.</p1>
            </div>

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <img src="img\Beach.jpg" alt="">
                </div>
                <div class="col-md-6 col-sm-12 align-self-center">
                    <div class="main-text">
                        <h3>Beach</h3>
                        <p>Switzerland, while renowned for its alpine scenery, also boasts picturesque beaches along its pristine lakes. Among these,spots for relaxation and water activities.</p>

                        <p>Geneva Beach, located on the shores of Lake Geneva, offers a tranquil escape with its clear waters and picturesque views,With its blend of natural beauty and urban amenities, Geneva Beach is a must-visit for relaxation and recreation in Switzerland.</p>
                        <hr>
                        <span class="pull-left">April 15, 2024</span>
                        <a href="https://derinternaut.ch/en/switzerland/beaches-in-switzerland/" class="cta">Read More <i class="fa fa-arrow-circle-o-right"
                                aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>

            <!--/one -->

            <div class="row">
                <div class="col-md-6 col-sm-12  align-self-center">
                    <div class="main-text text-right">
                        <h3>Forest</h3>
                        <p>Switzerland's forests, which cover approximately one-third of the country's land area, are a vital part of its stunning landscapes, offering rich biodiversity and serving as essential habitats for a wide variety of flora and fauna.</p>

                        <p>These forests play a crucial role in environmental sustainability, providing habitats for a rich variety of wildlife and contributing to the country's efforts in biodiversity conservation. Additionally, attracting nature enthusiasts from around the world.</p>
                        <hr>
                        <span class="pull-left">April 24, 2024</span>
                        <a href="https://www.myswitzerland.com/en-in/experiences/discover-forest-and-wildlife/" class="cta">Read More <i class="fa fa-arrow-circle-o-right"
                                aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 order-first order-lg-last">
                    <img src="img\Forest.jpg" alt="" style="height:100%;">
                </div>
            </div>
            <!--/two -->

            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <img src="img\Road trip.jpg" alt="">
                </div>
                <div class="col-md-6 col-sm-12  align-self-center">
                    <div class="main-text">
                        <h3>Road Trip</h3>
                        <p>A road trip through Switzerland offers breathtaking views of snow-capped Alps, serene lakes, and charming villages. Winding through scenic routes, you'll experience the perfect blend of natural beauty.</p>

                        <p>Swiss Alps and serene lakes. Each turn reveals new adventures, from exploring historic castles to savoring Swiss chocolate and cheese in charming local markets.Switzerland promises an unforgettable journey filled with natural beauty and cultural treasures.</p>
                        <hr>
                        <span class="pull-left">May 05, 2024</span>
                        <a href="https://www.lonelyplanet.com/articles/best-road-trips-in-switzerland" class="cta">Read More <i class="fa fa-arrow-circle-o-right"
                                aria-hidden="true"></i></a>

                    </div>
                </div>
            </div>
            <!--/three -->

            <div class="row">
                <div class="col-md-6 col-sm-12  align-self-center">
                    <div class="main-text text-right">
                        <h3>Far away</h3>
                        <p>Far away in Switzerland, nestled among the picturesque Alps, lie quaint villages where time seems to stand still. The breathtaking landscapes and serene environment create an idyllic escape!</p>
                        <p>Lies a land of enchanting beauty where pristine lakes mirror the snow-capped peaks. The air is crisp and fresh, filled with the soothing sounds of cowbells and the distant echo of alpine horns. Quaint villages dot the landscape, their charming chalets offering a warm welcome to travelers seeking tranquility and adventure in equal measure.</p>
                        <hr>
                        <span class="pull-left">May 17, 2024</span>
                        <a href="https://sarafaraway.com/the-best-time-to-travel-switzerland/" class="cta">Read More <i class="fa fa-arrow-circle-o-right"
                                aria-hidden="true"></i></a>

                    </div>
                </div>
                <div class="col-md-6 col-sm-12 order-first order-lg-last">
                    <img src="img\Far away.jpg" alt="">
                </div>
                <!--/four -->
            </div>
        </div>
    </section>

    <!-- gallery -->

    <section id="gallery">
        <div class="container">
            <div class="row">
                <div class="main-header">
                    <h2 class="display-4 mb-3">Amazing Destinations</h2>
                    <p1>Switzerland boasts amazing destinations, from the serene beauty of Lake Geneva and the vibrant city life of Zurich to the majestic peaks of the
                         Swiss Alps and the charming villages of Interlaken, making it a dream destination for travelers.</p1>
                </div>

                <div class="col-xs-12 col-sm-4">
                    <div class="card">
                        <a class="img-card" href="javascript:;">
                            <img src="img\Image 1.jpg" />
                        </a>
                        <div class="card-content">
                            <h4 class="card-title">
                                <a href="#">Gotthard Pass</a>
                            </h4>
                            <p>
                                The Gotthard Pass is a road 64 kilometers long and 2,106 meters up in the Swiss Alps. Stunning alpine views 
                                reward drivers who dare to take to the tight serpentine turns and the high cliffs.</p>
                        </div>
                        <div class="card-read-more">
                            <a href="https://www.alpen-paesse.ch/en/alpenpaesse/gotthardpass/" class="btn btn-block">
                                Read More
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="card">
                        <a class="img-card" href="javascript:;">
                            <img src="img\Image 2.jpg" />
                        </a>
                        <div class="card-content">
                            <h4 class="card-title">
                                <a href="#">Rhine Falls</a>
                            </h4>
                            <p>The largest waterfall in Europe, offering a breathtaking natural spectacle with its powerful cascades and 
                                it takes the boat trips close to the roaring falls,and explore the surrounding picturesque landscapes.</p>
                        </div>
                        <div class="card-read-more">
                            <a href="https://www.myswitzerland.com/en-in/experiences/the-rhine-falls/" class="btn btn-block">
                                Read More
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="card">
                        <a class="img-card" href="javascript:;">
                            <img src="img\Image 3.jpg"/>
                        </a>
                        <div class="card-content">
                            <h4 class="card-title">
                                <a href="#">Lake Constance</a>
                            </h4>
                            <p>Lake Constance sits against the borders of the Switzerland providing an amazing chance to
                                 explore three countries both on foot and via boat and cruies will thrills.It's possible to swim in the deep blue waters.</p>
                        </div>
                        <div class="card-read-more">
                            <a href="https://www.myswitzerland.com/en-in/destinations/lake-constance/" class="btn btn-block">
                                Read More
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="card">
                        <a class="img-card" href="javascript:;">
                            <img src="img\Image 4.jpg" />
                        </a>
                        <div class="card-content">
                            <h4 class="card-title">
                                <a href="#">Interlaken</a>
                            </h4>
                            <p>Surrounded by alpine glaciers and forested mountains, the resort town of Interlaken – 
                                and its many timber houses – is set deep into a valley and in between two turquoise-water lakes.</p>
                        </div>
                        <div class="card-read-more">
                            <a href="https://www.myswitzerland.com/en-in/destinations/interlaken/" class="btn btn-block">
                                Read More
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="card">
                        <a class="img-card" href="javascript:;">
                            <img src="img\Image 5.jpg" />
                        </a>
                        <div class="card-content">
                            <h4 class="card-title">
                                <a href="#">Lauterbrunnen</a>
                            </h4>
                            <p>The Staubbach waterfall sits just over the village of Lauterbrunnen-almost 300 meters high 
                                and often just a stream that melts into mist on its way down into the valley.You will enjoy more.</p>
                        </div>
                        <div class="card-read-more">
                            <a href="https://www.myswitzerland.com/en-in/destinations/lauterbrunnen/" class="btn btn-block">
                                Read More
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="card">
                        <a class="img-card" href="javascript:;">
                            <img src="img\Image 6.jpg" />
                        </a>
                        <div class="card-content">
                            <h4 class="card-title">
                                <a href="#">Brienz</a>
                            </h4>
                            <p>Brienz sits at the foot of the Brienzer Rothorn, the tallest mountain of the Emmental Alps. 
                                A quiet village with just over 3,000 residents on the shores of a turquoise-colored lake.</p>
                        </div>
                        <div class="card-read-more">
                            <a href="https://www.myswitzerland.com/en-in/destinations/brienz/" class="btn btn-block">
                                Read More
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <div class="container text-center mt-4">
        <p3>For best accomodation,please check out this</p3><br>
        <img src="img\Accomodation logo.png" alt="Icon" class="Acco">
        <a href="accomodation.html" class="btn btn-primary">Accomodation</a>
    </div>


    <!-- about Us -->
    
    <section id="about">
        <div class="container">
            <div class="row text-center">
                <div class="main-header">
                    <h2 class="display-4 mb-3">Our Trip Experts</h2>
                    <p1>Our team consists of seasoned experts with diverse backgrounds in their respective fields.
                         Each member brings a wealth of knowledge, ensuring comprehensive and innovative solutions. 
                        Together, we are committed to excellence and delivering outstanding results for our clients. ex.</p1>
                </div>
                <div class="col-md-4">
                    <span>
                        <img src="img/team_01.png" class="rounded-circle">
                    </span>
                    <h4 class="service-heading">Chief Trip Planner</h4>
                    <p class="text-muted"><strong>Anar jessy :</strong> with over 15 years of experience, meticulously designs every itinerary to ensure 
                        an unforgettable Swiss adventure. Her deep knowledge of the region guarantees a seamless travel experience tailored to your preferences.</p>
                    <div class='icon social1 fb'><a href="https://www.facebook.com/SwitzerlandNordics/"><i class='fa fa-facebook'></i></a></div>
                    <div class='icon social1 tw'><a href="https://x.com/MySwitzerland_e"><i class='fa fa-twitter'></i></a></div>
                    <div class='icon social1 in'><a href="https://www.instagram.com/holidays2switzerland/"><i class='fa fa-instagram'></i></a></div>
                </div>
                <div class="col-md-4">
                    <span>
                        <img src="img/team_02.jpg" class="rounded-circle">
                    </span>
                    <h4 class="service-heading">Chief Trip Adviser</h4>
                    <p class="text-muted"><strong>Thomas Weber :</strong> a local expert, provides insightful recommendations and tips to make the most of your Swiss journey. 
                        His passion for the culture and landscape of Switzerland brings an authentic touch to your travel plans.</p>
                    <div class='icon social1 fb'><a href="https://www.facebook.com/SwitzerlandNordics/"><i class='fa fa-facebook'></i></a></div>
                    <div class='icon social1 tw'><a href="https://x.com/MySwitzerland_e"><i class='fa fa-twitter'></i></a></div>
                    <div class='icon social1 in'><a href="https://www.instagram.com/switzerland.dailyy/"><i class='fa fa-instagram'></i></a></div>
                </div>
                <div class="col-md-4">
                    <span>
                        <img src="img/team_03.jpg" class="rounded-circle">
                    </span>
                    <h4 class="service-heading">Chief Trip Co-ordinator</h4>
                    <p class="text-muted"><strong>Emily Fischer :</strong> an organizational genius, ensures that every aspect of your trip runs smoothly. From logistics to on-the-ground support, 
                        she is dedicated to delivering a hassle-free and enjoyable experience for all our clients.</p>
                    <div class='icon social1 fb'><a href="https://www.facebook.com/SwitzerlandNordics/"><i class='fa fa-facebook'></i></a></div>
                    <div class='icon social1 tw'><a href="https://x.com/MySwitzerland_e"><i class='fa fa-twitter'></i></a></div>
                    <div class='icon social1 in'><a href="https://www.instagram.com/swiss.routes/"><i class='fa fa-instagram'></i></a></div>
                </div>
            </div>
        </div>
    </section>


    <!-- contact Us -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="main-header">
                    <h2 class="display-4 mb-3">Contact Us Today</h2>
                    <p1>For any inquiries or assistance, please contact our offices. visit in person during our business hours. 
                        Our team is dedicated to providing prompt and helpful responses to all your questions and needs.</p1>
                </div>

                <div class="col-md-6 col-sm-12">
                    <form id="contactForm" method="post" data-form-title="Contact Us">
                        <input type="hidden" data-form-email="true">
                        <div class="form-group">
                            <input type="text" class="form-control" name="name" required="" placeholder="Name*"
                                data-form-field="Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" required="" placeholder="Email*"
                                data-form-field="Email">
                        </div>
                        <div class="form-group">
                            <input type="tel" class="form-control" name="phone" placeholder="Phone"
                                data-form-field="Phone">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" placeholder="Message" rows="7"
                                data-form-field="Message"></textarea>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-header mb-5"><strong>Contact Us</strong></button>
                        </div>
                    </form>
                </div>

                <div class="col-md-6 col-sm-12">
                    <h4>Office Address - Switzerland City</h4>
                    <p>23/06, Stombornd street,
                        <br>Zurich,
                        <br>pincode - 115237</p>

                    <h4>Office Address - Switerland</h4>
                    <p>15/24, lamborn street,
                        <br>Genava,
                        <br>Pincode - 114502</p>
                    <hr>
                    <h4>Talk To Us Today</h4>
                    <p>+01-123-456-7890<br>+01-789-456-7890</p>
                </div>
            </div>
        </div>
    </section>

    <!-- footer section -->

    <section id="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-sm-10 mx-auto mb-5">
                    <h4>Our Services</h4>
                    <hr>
                    <p>we offer personalized trip planning and expert advice to help you explore the best of Switzerland. 
                        Our comprehensive services include tailored itineraries, insider tips, and seamless coordination to ensure a memorable and hassle-free travel experience.</p>
                    <button class="btn btn-footer">Read more</button>
                </div>
                <div class="col-md-2 col-sm-10 mx-auto mb-5">
                    <h4>Quick Links</h4>
                    <hr>
                    <ul class="footer-list">
                        <li class="footer-item"><a href="javascript:;">Home</a></li>
                        <li class="footer-item"><a href="javascript:;">Places</a></li>
                        <li class="footer-item"><a href="javascript:;">Gallery</a></li>
                        <li class="footer-item"><a href="javascript:;">About Us</a></li>
                        <li class="footer-item"><a href="javascript:;">Contact Us</a></li>
                        <li class="footer-item"><a href="javascript:;">Privacy Policy</a></li>
                    </ul>
                </div>

                <div class="col-md-2 col-sm-10 mx-auto mb-5">
                    <h4>Follow Us</h4>
                    <hr>
                    <ul class="footer-list-social">
                        <li class='icon social2 fb'><a href="https://www.facebook.com/aboutswitzerland/" target="_self"><i class='fa fa-facebook'></i></a></li>
                        <li class='icon social2 tw'><a href="https://x.com/AbtSwitzerland" target="_self"><i class='fa fa-twitter'></i></a></li>
                        <li class='icon social2 in'><a href="https://www.instagram.com/visitswitzerland/" target="_self"><i class='fa fa-instagram'></i></a></li>
                    </ul>
                </div>


                <div class="col-md-5">
                    <h4>Subscribe Today</h4>
                    <hr>
                    <p>Stay informed about the latest travel trends, exclusive offers, and hidden gems in Switzerland by subscribing to our newsletter. 
                        Receive expert tips, inspiring itineraries, and special promotions directly in your inbox.
                        Join our community of travel enthusiasts and make the most of your next adventure! </p>
                
                     <div class="subscribe">
                        <form action="mailto:your-email@example.com" class="mt-4" method="post" enctype="text/plain">
                            <div class="input-group">
                                <input class="btn" name="email" id="email" type="email" placeholder="Your Email" required>
                                <button class="btn btn-grey" type="submit"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                            </div>
                        </form>
                    </div>
                     
                </div>
            </div>
        </div>
    </section>
    

    <section id="footer-end">
        <div class="container">
            <p> &copy; 2018 Swizz Trip. All rights Reserved. | <a href="">Designed By SwizzTrip pvt
                    Designs</a></p>
        </div>
    </section>
   
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    
   
    <script src="js/main.js"></script>
    </body>
</html>