<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
  
    <link rel="stylesheet" href="css\sign_in.css">

</head>
<body>
    <div class="login-box">
        <h2>Login</h2>
        <form>
            <div class="user-box">
                <input type="email" name="email" required="">
                <label>Email</label>
            </div>
            <div class="user-box">
                <input type="password" name="password" required="">
                <label>Password</label>
            </div>
            <button type="submit">Sign In</button>
            <p>Not a member? <span><a href="#sign up">Sign Up</a></span></p>
        </form>
    </div>
    <script src="js/sign_in.js"></script>
</body>
</html>

